<div>
  <p>
    In this example, new items can be created using a mutation. The new item
    will be optimistically added to the list in hopes that the server accepts
    the item. If it does, the list is refetched with the true items from the
    list. Every now and then, the mutation may fail though. When that happens,
    the previous list of items is restored and the list is again refetched from
    the server.
  </p>
  <form (submit)="onSubmit($event)">
    <input type="text" name="todo" [(ngModel)]="text" />
    <button>
      {{ (addTodoMutation$ | async).isLoading ? 'Creating...' : 'Create' }}
    </button>
  </form>
  <br />
  <ng-container *ngIf="todos$ | async as todos">
    <ng-container
      *ngIf="todos.isLoading; then loading; else loaded"
    ></ng-container>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
    <ng-template #loaded>
      <ng-container *ngIf="todos.error; else valid">
        An error has occurred: {{ todos.error['message'] }}
      </ng-container>
      <ng-template #valid>
        <ul>
          <li *ngFor="let item of todos.data.items">{{ item }}</li>
        </ul>
        <div>{{ todos.isFetching ? 'Updating in background...' : ' ' }}</div>
      </ng-template>
    </ng-template>
  </ng-container>
</div>
