<ng-container *ngIf="repoData$ | async as repoData">
  <ng-container *ngIf="repoData.isLoading; then loading; else loaded"></ng-container>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="repoData.error; else valid">
      An error has occurred: {{ repoData.error['message'] }}
    </ng-container>
    <ng-template #valid>
      <div>
        <h1>{{ repoData.data.name }}</h1>
        <p>{{ repoData.data.description }}</p>
        <strong>👀 {{ repoData.data.subscribers_count }}</strong>
        <strong>✨ {{ repoData.data.stargazers_count }}</strong>
        <strong>🍴 {{ repoData.data.forks_count }}</strong>
      </div>
    </ng-template>
  </ng-template>
</ng-container>
